[submodule "ecdsa-node"]
	path = ecdsa-node
	url = https://github.com/AxelWismer/ecdsa-node
[submodule "GiftList"]
	path = GiftList
	url = https://github.com/AxelWismer/GiftList.git
[submodule "smart-contract-winner"]
	path = smart-contract-winner
	url = https://github.com/AxelWismer/smart-contract-winner.git
[submodule "blockexplorer"]
	path = blockexplorer
	url = https://github.com/AxelWismer/blockexplorer.git
[submodule "Contract-Puzzles"]
	path = Contract-Puzzles
	url = https://github.com/AxelWismer/Contract-Puzzles.git
[submodule "Local-Hardhat-Games"]
	path = Local-Hardhat-Games
	url = https://github.com/AxelWismer/Local-Hardhat-Games.git
